<h3>Edit Player</h3>
{{message}}

<form name="EditPlayerForm" ng-submit="UpdatePlayer();">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td><input type="text" ng-model="player.Name" /></td>
        </tr>
        <tr>
            <td>
                Club
            </td>
            <td><input type="text" ng-model="player.Club" /></td>
        </tr>
        <tr>
            <td>
                Country
            </td>
            <td><input type="text" ng-model="player.Country" /></td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td><input type="text" ng-model="player.Age" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update" /></td>
        </tr>
    </table>
</form>